extends ../shared/layout

block content
  .container
    include ../shared/searchbar.pug

    #letter-view.card
      #toggle-pretty.selected Pretty
      #toggle-raw Raw

    #pretty.card
      #letter
        header
          h1= letter.title
          h2= letter.author

        div !{letter.text}

    #raw.card
      #letter-xml
        textarea= raw
