@import 'partials/base';
@import 'partials/divs';
@import 'partials/links';

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  margin-top: 50px;
  overflow-x: hidden;
}

#letterdb-nav {
  background: $theme-color;
  border: none;

  #logo {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .navbar-nav {
    a {
      color: white;
      font-size: 16px;
      &:hover {
        background: darken($theme-color, 5%);
      }
    }
  }

  .navbar-toggle {
    border: none;
    &:hover, &:active {
      background: transparent;
    }
  }

  #letterdb-navbar {
    border-top: none;
  }
}

#home-jumbo {
  position: relative;
  height: 800px;
  background: url(/images/home-jumbo.jpg) no-repeat;
  background-size: cover;
  background-position: center;

  #home-jumbo-logo {
    text-align: center;

    img {
      max-height: 100px;
    }
  }

  #home-jumbo-tagline {
    color: white;
    font-size: 24px;
    font-weight: $semibold;
    text-align: center;
    text-shadow: 1px 1px 5px black;
    margin: 0;
    margin-bottom: 20px;
  }

  #home-jumbo-search {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    form {
      display: flex;
      width: 80%;
      margin: 0 auto;
      @include box-shadow(0, 0, 5px, 0, $theme-color);
    }

    #search {
      flex-grow: 1;
      height: 50px;
      background: white;
      color: $theme-color;
      padding: 10px;
      outline: none;
      border: none;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    #submit {
      width: 50px;
      height: 50px;
      background: white;
      color: $theme-color;
      outline: none;
      border: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

#home-logo {
  margin-top: 100px;

  img {
    max-width: 360px;
  }
}

#home-thumbs {
  margin-top: 100px;
  margin-bottom: 100px;

  img {
    max-width: 50%;
    margin-bottom: 20px;
  }

  h3 {
    margin: 20px 0;
  }
}

#searchbar {
  margin-top: 20px;
  display: flex;
  border-radius: 3px;
  border: 1px solid $theme-color;

  #searchbar-query {
    flex-grow: 1;
    height: 50px;
    background: white;
    color: $theme-color;
    padding: 10px;
    outline: none;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  #searchbar-submit {
    width: 50px;
    height: 50px;
    background: white;
    color: $theme-color;
    outline: none;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

#search-results {
  .col-md-6 {
    padding: 5px;
  }

  a:hover {
    text-decoration: none;
  }

  .search-result {
    display: flex;
    background: $theme-color;
    color: white;
    padding: 20px 0;
    border-radius: 3px;

    .type {
      padding: 0 20px;

      .icon {
        position: relative;
        width: 50px;
        height: 50px;
        background: white;
        color: $theme-color;
        font-size: 24px;
        border-radius: 50px;

        span {
          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .info {
      flex-grow: 1;

      h2 {
        font-size: 18px;
        margin: 0;
        font-weight: $semibold;
        text-transform: uppercase;
      }

      h3 {
        font-size: 14px;
        font-weight: $semibold;
        margin: 0;
      }

      h4 {
        font-size: 14px;
        font-style: italic;
        font-weight: $regular;
        margin: 0;
      }
    }

    &:hover {
      background: lighten($theme-color, 10%);

      .icon {
        color: lighten($theme-color, 10%);
      }
    }
  }
}

.footer {
  background: $theme-color;
  color: white;
  padding: 20px 0;
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  #home-jumbo {
    height: 400px;

    #home-jumbo-logo {
      text-align: center;
      margin-bottom: 10px;

      img {
        max-height: 50px;
      }
    }
  }

  #logo {
    padding-left: 10px;
  }

  #home-logo {
    margin-top: 20px;
    img {
      max-width: 50%;
    }
  }

  #home-thumbs {
    margin-top: 40px;
    margin-bottom: 0;
    .col-md-4 {
      margin-bottom: 40px;
    }
    img {
      max-width: 100px;
    }
  }

  .footer {
    font-size: 14px;
  }

  .desktop-only {
    display: none;
  }
}
