@import 'partials/base';
@import 'partials/divs';
@import 'partials/links';

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  margin-top: 50px;
  overflow-x: hidden;
}

#letterdb-nav {
  background: $theme-color;
  border: none;

  #logo {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .navbar-nav {
    a {
      color: white;
      font-size: 16px;
      &:hover {
        background: darken($theme-color, 5%);
      }
    }
  }

  .navbar-toggle {
    border: none;
    &:hover, &:active {
      background: transparent;
    }
  }

  #letterdb-navbar {
    border-top: none;
  }
}

#home-jumbo {
  position: relative;
  height: 800px;
  background: url(/images/home-jumbo.jpg) no-repeat;
  background-size: cover;
  background-position: center;

  #home-jumbo-search {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    form {
      display: flex;
      width: 80%;
      margin: 0 auto;
      @include box-shadow(0, 0, 5px, 0, $theme-color);
    }

    #search {
      flex-grow: 1;
      height: 50px;
      background: white;
      color: $theme-color;
      padding: 10px;
      outline: none;
      border: none;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    #submit {
      width: 50px;
      height: 50px;
      background: white;
      color: $theme-color;
      outline: none;
      border: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

#home-logo {
  margin-top: 100px;

  img {
    max-width: 360px;
  }
}

#home-thumbs {
  margin-top: 100px;
  margin-bottom: 100px;

  img {
    max-width: 50%;
    margin-bottom: 20px;
  }

  h3 {
    margin: 20px 0;
  }
}

.footer {
  background: $theme-color;
  color: white;
  padding: 20px 0;
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  #home-jumbo {
    height: 250px;
  }

  #logo {
    padding-left: 10px;
  }

  #home-logo {
    margin-top: 20px;
    img {
      max-width: 50%;
    }
  }

  #home-thumbs {
    margin-top: 40px;
    margin-bottom: 0;
    .col-md-4 {
      margin-bottom: 40px;
    }
    img {
      max-width: 100px;
    }
  }

  .footer {
    font-size: 14px;
  }

  .desktop-only {
    display: none;
  }
}
