nav#letterdb-nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      a(href='/')
        img#logo(src='/images/logo-white.png', alt='#{title}')
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#letterdb-navbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    
    #letterdb-navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/') Home
        li
          a(href='/search') Explore
