form#searchbar(action='/explore/search', method='get')
  if query
    input#searchbar-query(type='text', name='q', placeholder='Search', value='#{query}')
  else
    input#searchbar-query(type='text', name='q', placeholder='Search')
  button#searchbar-submit(type='submit')
    span.glyphicon.glyphicon-search
