extends ../shared/layout

block content
  #home-jumbo.jumbotron
    #home-jumbo-search
      .container
        #home-jumbo-logo
          img(src='/images/letterdb-logo-white-shadow.png')
        p#home-jumbo-tagline A database of letters
        form(action='/explore', method='get')
          input#search(type='text', name='q', placeholder='Search', autocomplete='off')
          button#submit(type='submit')
            span.glyphicon.glyphicon-search

  .container
    #home-logo.row.center
      img(src='/images/logo.png', alt='#{title}')

    .row#home-thumbs
      .col-md-4.center
        img(src='/images/search.png', alt='Search')
        h3 Search
        p Search for letters and explore the LetterDB collection!
      .col-md-4.center
        img(src='/images/read.png', alt='Read')
        h3 Read
        p Read letters and view detailed statistics and interesting facts about them!
      .col-md-4.center
        img(src='/images/contribute.png', alt='Contribute')
        h3 Contribute
        p Create or update letters and become a part of the LetterDB community!
